# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Virtual environments
env/
venv/
ENV/
.venv/
*.egg-info/

# System files
.DS_Store
Thumbs.db

# Data files (modifica se vuoi tenerli)
data/
results/*.pt
results/*.json

# Environment files (opzionale)
Miniconda3-latest-Linux-x86_64.sh
